* {
	margin: 0;
	padding: 0;
}

body {
	background: #E9ECF4;
	color: #000;
	font-family: 'Roboto', sans-serif;
}

.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: 20px auto;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, auto);

	grid-template-areas: "header header header"
						 "sidebar contenido contenido"
						 "sidebar contenido contenido"
						 "footer footer footer";
}

.contenedor > div,
.contenedor .header,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .footer {
	background: #fff;
	padding: 20px;
	border-radius: 4px;
}

.contenedor .header {
	background: #12203E;
	color: #fff;
	grid-area: header;
}

.contenedor .contenido {
	grid-area: contenido;
}

.imagen{
    width: 90%;
    height: 90%;
}

.contenedor .sidebar {
	grid-column: 3 / 4;
	background: white;
	text-align: left;
	display: inline-block;
	justify-content: center;
	min-height: 40%;
	grid-area: sidebar;
}

.contenedor .sidebar .mapa-contenido{
    width: 90%;
    height: 90%;
    margin-top: 40px;
    display: inline-block;
}


.contenedor .footer {
	background: #12203E;
	color: #fff;
	grid-area: footer;
    text-align: center;
}

@media screen and (max-width: 768px){
	.contenedor {
		grid-template-areas: "header header header"
						 "contenido contenido contenido"
						 "sidebar sidebar sidebar"
						 "widget-1 widget-1 widget-2"
						 "footer footer footer";
	}
}